<div class="modal fade" id="accidentClusterModal" tabindex="-1" aria-labelledby="accidentClusterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accidentClusterModalLabel">Accident Cluster</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-item-action" id="accident-list"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#accidentClusterModal').on('show.bs.modal', function (event) {
        var accidentClusterModal = $(this);
        var clusterFeatures = accidentClusterModal.data('cluster-features');

        // Sort clusterFeatures by date_time
        clusterFeatures.sort((a, b) => new Date(b.get('date_time')) - new Date(a.get('date_time')));

        var accidentListItems = clusterFeatures.map(feature => `
            <li class="list-group-item list-group-item-action accident-item" data-id="${feature.get('accident_id')}">
                <div class="container-fluid">
                    <div class="d-flex row justify-content-around">
                        <div class="col-auto">Accident ${feature.get('accident_id')}</div>
                        <div class="col-auto">${
                            new Date(feature.get('date_time')).toLocaleString('en-US', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                hour12: false
                            })
                        }</div>
                    </div>
                </div>
            </li>`
        );

        // Add the list items to the accident list
        $('#accident-list').html(accidentListItems.join(''));

        // Handle click events on the accident list items
        $('.accident-item').click(function() {
            var accidentId = $(this).data('id');

            // Hide the cluster modal and show the info modal for the selected accident
            accidentClusterModal.modal('hide');
            $('#accidentInfoModal')
                .data('accident-id', accidentId)
                .data('from-cluster-modal', true)
                .modal('show');
        });
    });
});
</script>
